<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Stuff/WHL.css" />
  </styleBundle>
  <styleBundle path="~/Content/fsw">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Stuff/FSWindows.css" />
  </styleBundle>
</bundles>